.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Content {
  flex: 1;
  // text-align: center;
}

.Header {
    background-color: rgb(115, 110, 110);
      height: 60px;
      .selected{
        color: rgb(212, 186, 186)!important;
        padding-bottom: 5px;
        border-bottom: 1.5px solid rgb(215, 209, 209);
      }
      .navigation_lab{
        width: 70%;
        height: 100%;
        margin: 0px auto;
        padding: 0px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a:hover { 
          text-decoration:none; 
        }
        .navigation_left{
          font-size: 20px;
          color: rgb(11, 11, 11);
        }
        .navigation_left::after {
          content: "◦◦◦";
          margin-left: 0.5em;
        }
        .navigation_right{
          display: inline-flex;
          justify-content: flex-start;
          p{
            margin: 0px 10px;
            font-size: 14px;
            color: rgb(12, 12, 12);
          }
        }
        div{
          cursor: pointer;
        }
      }
}

.Footer {
  text-align: center;
  padding: 50px;
  color: #555;
  background-color: #fafafa;
  border-top: 1px solid #a3a4a3;
}